*{margin: 0;
    padding: 0;
}

.card {
    width:320px;
    min-height: 460px;
    border-bottom: 4px solid #5A5A5A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #90918f;
}
.picture {
    width: 260px;
    height: 180px;
}

.picture-section {
    height: 180px;
    position: relative;
    padding: 20px;
}
.picture {
    width:280px;
}
.update {
    background-color: rgba(45,55,72,0.67);
    color: white;
    padding: 4px 8px;
    text-align: center;
}
.company {
    color: white;
    position: absolute;
    bottom: 150px;
    right: 15px;
    padding: 4px 8px;
}
.info {
    padding: 14px;
    color: #2D3748;
}
.listing {
    background-color: rgba(45,55,72,0.67);
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 15px;
    height: 220px;
}
.price {
    font-size: 24px;
    font-weight: bold;
}
.address {
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
    background-color: rgba(45,55,72,0.67);
    border-radius: 15px;
    color: white;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
a {
    text-decoration: none;
}
.card-area {
    display: flex;
    flex-wrap: wrap;
}
.card2 {
    width:320px;
    min-height: 460px;
    border-bottom: 4px solid #5A5A5A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #91754d;
}
.card3 {
    width:320px;
    min-height: 460px;
    border-bottom: 4px solid #5A5A5A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #A19D94;
}
.card4 {
    width:320px;
    min-height: 460px;
    border-bottom: 4px solid #5A5A5A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #d4af37;
}
.card5 {
    width:320px;
    min-height: 460px;
    border-bottom: 4px solid #5A5A5A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #b9f2ff;
}
.card6 {
    width:320px;
    min-height: 460px;
    border-bottom: 4px solid #5A5A5A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #91754d;
}
.card7 {
    width:320px;
    min-height: 460px;
    border-bottom: 4px solid #5A5A5A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #91754d;
}
.card8 {
    width:320px;
    min-height: 460px;
    border-bottom: 4px solid #5A5A5A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #91754d;
}
.card9 {
    width:320px;
    min-height: 460px;
    border-bottom: 4px solid #5A5A5A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #91754d;
}
.card10 {
    width:320px;
    min-height: 460px;
    border-bottom: 4px solid #5A5A5A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #91754d;
}
